footer {
  background-color: #111;
}
.rodape {
  width: 100%;
  margin-bottom: 0;
}
.titulo-menu-rodape {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
}
.item-menu-rodape {
  margin: 5px 0;
  margin-left: 16px;
}
.item-social {
  width: 50px;
  margin: 0 10px;
}